* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #00e6ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

header{
  padding: 20px 40px;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 12px;
  transition: padding .3s ease, gap .3s ease, background-color .3s ease;
  background: url('../img/realistic_animated_waves.gif') no-repeat center center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111;
  padding: 10px 0;
  box-shadow: 0 2px 8px rgba(0, 230, 255, 1), 0 -2px 8px rgba(0, 230, 255, 1);
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
}

nav ul li a {
  color: #00e6ff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #00e6ff;
  color: #000;
  border-radius: 4px;
}

main {
  max-width: 80%;
  margin: auto;
}

main p {
  text-align: justify;
}

main h3 {
  color: #00e6ff;
  margin-top: 25px;
  font-size: 1.4rem;
  border-left: 4px solid #00e6ff;
  padding-left: 10px;
  text-align: left;
}

main ul {
  list-style-position: inside; 
  margin-left: 10px;           
  padding-left: 10px;   
}

#referencias ul {
  color: #ffffff;
}

section {
  margin-bottom: 60px;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif; 
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 1px #ffff;
}

header h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  text-align: center;
  -webkit-text-stroke: 2px #ffff;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 2px solid #00e6ff;
}

img {
  display: block;
  margin: 20px auto;
  width: 600px;           
  height: auto;           
  border-radius: 10px;
  border: 1px solid rgba(0,230,255,0.25);
  box-shadow: 0 0 16px rgba(0,230,255,0.15);
  object-fit: contain;    
}

footer {
  background-color: #111;
  padding: 30px 40px;
  text-align: center;
  color: #777;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin: 0 8px;
  display: inline-block;
}

.social-icons a img {
  width: 32px;
  height: 32px;
}

.logo {
  display: block;
  margin: 0 auto 10px auto;
  width: 120px;
  height: auto;
  filter: drop-shadow(0 0 8px #00e6ff);
}

html {
  scroll-padding-top: 67px;
}

.caracteristicas-contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.caracteristicas-texto {
  flex: 2; 
}

.caracteristicas-imagen {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.caracteristicas-imagen img {
  width: 400px; 
  height: auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 230, 255, 0.25);
  box-shadow: 0 0 16px rgba(31, 220, 237, 0.15);
  object-fit: contain;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #00e6ff;
  text-shadow: 0 0 8px #00e6ff;
}

